
/*    ----- GENERICS ------ */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 2rem;
}

header { 
    height: 4rem;
    display: flex;
}
/*  -------- MOBILE FIRST  */

/*  ----- MOBILE HEADER  */

.nav-desktop {
    display: none;
}
.logo {
    display: flex;
    height: 2rem;
    margin: 0 0 0 1.5rem;
    text-align: center;
}
.logo > p {
    text-align: center;
}
.nav-mobile > ul {
    display: flex;
}
.nav-mobile > ul > li {
    text-decoration: none;
    padding: 0 3rem;
    list-style-type: none;
    justify-content: space-evenly;
}

/*     ---------  MAIN   --------- */

/*  ----- MOBILE SECTION 1 */
.section-1 {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.section-1 > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.section-1 > .section-1-part-2 {
    text-align: center;
    margin: 2rem;
    justify-content: center;
    color: #373737;
    width: 100%;
}
.section-1 > .section-1-part-2 > button {
    background-color: #373737;
    border: none;
    width: 100%;
    padding: 1rem 0;
}
.section-1-part-2 > button > a {
    color: white;
    text-decoration: none;
}


/*----- MOBILE  SECTION 2 and 3  */
.article-2 {
    display: none;
}
/*  do not display */
.article-3-desktop {
    display: none;
}
.article-3-mobile > ul {
    width: 100%;
    height: auto;
}
.article-3-mobile > ul > li {
    list-style-type: none;
    width: 100%;
    height: auto;
}

.article-3-mobile > ul > li > img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

/*    ------- MOBILE SECTION 4 -------- */
/*  do not display this section on mobile version */
.section-4-desktop {
    display: none;
}

.section-4-mobile {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.section-4-mobile > ul > li {
    margin: 1rem;
    background-color: grey;
    list-style-type: none;
    width: 100%;
    padding: 1rem;
}


/*    ----- MOBILE SECTION 5 ----- */
.section-5-mobile {
    width: 100%;
    text-align: center;
}
.section-5-mobile > p {
    text-align: center;
    font-size: 2rem;
}
.section-5-mobile > video {
    width: 100%

}

 /* MOBILE FOOTER */
.footer-desktop {
    display: none;
}
footer { 
    text-align: center;
}




/*   ---------  DESKTOP VERSION  */

@media only screen and (min-width: 768px) {

    /*  -------- DESKTOP  */
    
    header {
        justify-content: space-between;
    }
    
    .nav-desktop {
        display: flex;
    }
    header > .nav-desktop > ul {
        display: flex;
    }

    .nav-desktop > ul > li {
        padding: 0 1rem;
        list-style-type: none;
    }

    .nav-desktop > ul > li > a {
        text-decoration: none;
    }

    .nav-mobile {
        display: none;
    }

    /*   DESKTOP - SECTION 1  */
    .section-1 {
        flex-direction: row;
    }

    .section-1 > img {
        width: 60%;
        margin: 2rem;
    }
    .section-1 > .section-1-part-2 {
        text-align: center;
        margin: 2rem;
        justify-content: center;
        color: #373737;
        width: 40%;
    }
    .section-1 > .section-1-part-2 > button {
        background-color: #373737;
        border: none;
        padding: 1rem auto;
        width: 100%;
        margin: 2rem;
    }
    .section-1-part-2 > button > a {
        color: white;
        text-decoration: none;
    }

    /*   ----- DESKTOP SECTION 2 AND 3------ */
    .section-2-3 {
        display: flex;
    }

    /*   ----- DESKTOP SECTION 2 AND 3 - ARTICLE 2 ------ */
    .article-2 {
        display: flex;
        width: 60%;
        flex-direction: column;
    }
    .article-2 > p {
        text-align: center;
        margin: 2rem;
        justify-content: center;
        color: #373737;
        font-size: 2.5rem;
        margin: 2rem;
    }
    .article-2 > img {
        padding: 2rem;
    }

        /*   ----- DESKTOP SECTION 2 AND 3  - ARTICLE 3 ------ */
    /* not display mobile version */
    .article-3-mobile {
        display: none;
    }
    /* display desktop version */
    .article-3-desktop {
        display: flex;
        width: 40%;
        text-align: center;
    }
    .article-3-desktop > ul > li {
        list-style-type: none;
        display: flex;
        padding: 1rem;
        flex-direction: row;
    }
    .article-3-desktop > ul > li > div {
        list-style-type: none;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        text-align: left;
    }

/*  -------- DESKTOP SECTION 4 ---------- */

/*  don´t display mobile version */
.section-4-mobile {
    display: none;
}

.section-4-desktop {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    font-size: 2rem;
}

.section-4-desktop > .section-4-desktop-grid {
    display: grid;
    grid-template: 1fr 1fr | 1fr 1fr 1fr;
    grid-template-areas:
        "1 2 3" 
        "4 5 6";
}

.section-4-desktop-grid {
    list-style-type: none;
}

.section-4-desktop-grid > li {
    color: #373737;
    background-color: white;
    margin: 2rem;
}
.section-4-desktop > .grid-1 {
    grid-area: 1;
}
.section-4-desktop > .grid-2 {
    grid-area: 2;
}
.section-4-desktop > .grid-3 {
    grid-area: 3;
}

.section-5-mobile {
    display: none;
}


    /* ---------   DESKTOP FOOTER   */

    .footer-desktop {
        display: flex;
    }
    footer {
        display: flex;
        justify-content: space-between;
    }
    
    footer > ul {
        display: flex;
        flex-direction: row;
    }
    
    footer > ul > li {
        list-style-type: none;
        padding: 0 1rem;
    }

    footer > ul > li > a {
        list-style-type: none;
    }


}
